


:root,
[data-bs-theme=light] {
  --tblr-blue: #206bc4;
  --tblr-indigo: #4263eb;
  --tblr-purple: #ae3ec9;
  --tblr-pink: #d6336c;
  --tblr-red: #d63939;
  --tblr-orange: #f76707;
  --tblr-yellow: #f59f00;
  --tblr-green: #2fb344;
  --tblr-teal: #0ca678;
  --tblr-cyan: #17a2b8;
  --tblr-black: #000000;
  --tblr-white: #ffffff;
  --tblr-gray: #49566c;
  --tblr-gray-dark: #1d273b;
  --tblr-gray-100: #f1f5f9;
  --tblr-gray-200: #e2e8f0;
  --tblr-gray-300: #c8d3e1;
  --tblr-gray-400: #9ba9be;
  --tblr-gray-500: #6c7a91;
  --tblr-gray-600: #49566c;
  --tblr-gray-700: #313c52;
  --tblr-gray-800: #1d273b;
  --tblr-gray-900: #0f172a;
  --tblr-primary: #206bc4;
  --tblr-secondary: #616876;
  --tblr-success: #2fb344;
  --tblr-info: #4299e1;
  --tblr-warning: #f76707;
  --tblr-danger: #d63939;
  --tblr-light: #f8fafc;
  --tblr-dark: #1d273b;
  --tblr-muted: #616876;
  --tblr-blue: #206bc4;
  --tblr-azure: #4299e1;
  --tblr-indigo: #4263eb;
  --tblr-purple: #ae3ec9;
  --tblr-pink: #d6336c;
  --tblr-red: #d63939;
  --tblr-orange: #f76707;
  --tblr-yellow: #f59f00;
  --tblr-lime: #74b816;
  --tblr-green: #2fb344;
  --tblr-teal: #0ca678;
  --tblr-cyan: #17a2b8;
  --tblr-facebook: #1877F2;
  --tblr-twitter: #1da1f2;
  --tblr-linkedin: #0a66c2;
  --tblr-google: #dc4e41;
  --tblr-youtube: #ff0000;
  --tblr-vimeo: #1ab7ea;
  --tblr-dribbble: #ea4c89;
  --tblr-github: #181717;
  --tblr-instagram: #e4405f;
  --tblr-pinterest: #bd081c;
  --tblr-vk: #6383a8;
  --tblr-rss: #ffa500;
  --tblr-flickr: #0063dc;
  --tblr-bitbucket: #0052cc;
  --tblr-tabler: #206bc4;
  --tblr-primary-rgb: 32, 107, 196;
  --tblr-secondary-rgb: 97, 104, 118;
  --tblr-success-rgb: 47, 179, 68;
  --tblr-info-rgb: 66, 153, 225;
  --tblr-warning-rgb: 247, 103, 7;
  --tblr-danger-rgb: 214, 57, 57;
  --tblr-light-rgb: 248, 250, 252;
  --tblr-dark-rgb: 29, 39, 59;
  --tblr-muted-rgb: 97, 104, 118;
  --tblr-blue-rgb: 32, 107, 196;
  --tblr-azure-rgb: 66, 153, 225;
  --tblr-indigo-rgb: 66, 99, 235;
  --tblr-purple-rgb: 174, 62, 201;
  --tblr-pink-rgb: 214, 51, 108;
  --tblr-red-rgb: 214, 57, 57;
  --tblr-orange-rgb: 247, 103, 7;
  --tblr-yellow-rgb: 245, 159, 0;
  --tblr-lime-rgb: 116, 184, 22;
  --tblr-green-rgb: 47, 179, 68;
  --tblr-teal-rgb: 12, 166, 120;
  --tblr-cyan-rgb: 23, 162, 184;
  --tblr-facebook-rgb: 24, 119, 242;
  --tblr-twitter-rgb: 29, 161, 242;
  --tblr-linkedin-rgb: 10, 102, 194;
  --tblr-google-rgb: 220, 78, 65;
  --tblr-youtube-rgb: 255, 0, 0;
  --tblr-vimeo-rgb: 26, 183, 234;
  --tblr-dribbble-rgb: 234, 76, 137;
  --tblr-github-rgb: 24, 23, 23;
  --tblr-instagram-rgb: 228, 64, 95;
  --tblr-pinterest-rgb: 189, 8, 28;
  --tblr-vk-rgb: 99, 131, 168;
  --tblr-rss-rgb: 255, 165, 0;
  --tblr-flickr-rgb: 0, 99, 220;
  --tblr-bitbucket-rgb: 0, 82, 204;
  --tblr-tabler-rgb: 32, 107, 196;
  --tblr-primary-text: #1a569d;
  --tblr-secondary-text: #49566c;
  --tblr-success-text: #268f36;
  --tblr-info-text: #0e616e;
  --tblr-warning-text: #935f00;
  --tblr-danger-text: #ab2e2e;
  --tblr-light-text: #49566c;
  --tblr-dark-text: #313c52;
  --tblr-primary-bg-subtle: #d2e1f3;
  --tblr-secondary-bg-subtle: #f1f5f9;
  --tblr-success-bg-subtle: #d5f0da;
  --tblr-info-bg-subtle: #d1ecf1;
  --tblr-warning-bg-subtle: #fdeccc;
  --tblr-danger-bg-subtle: #f7d7d7;
  --tblr-light-bg-subtle: #f8fafc;
  --tblr-dark-bg-subtle: #9ba9be;
  --tblr-primary-border-subtle: #a6c4e7;
  --tblr-secondary-border-subtle: #e2e8f0;
  --tblr-success-border-subtle: #ace1b4;
  --tblr-info-border-subtle: #a2dae3;
  --tblr-warning-border-subtle: #fbd999;
  --tblr-danger-border-subtle: #efb0b0;
  --tblr-light-border-subtle: #e2e8f0;
  --tblr-dark-border-subtle: #6c7a91;
  --tblr-white-rgb: 255, 255, 255;
  --tblr-black-rgb: 0, 0, 0;
  --tblr-body-color-rgb: 29, 39, 59;
  --tblr-body-bg-rgb: 241, 245, 249;
  --tblr-font-sans-serif: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
  --tblr-font-monospace: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --tblr-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --tblr-body-font-family: var(--tblr-font-sans-serif);
  --tblr-body-font-size: 0.875rem;
  --tblr-body-font-weight: 400;
  --tblr-body-line-height: 1.4285714286;
  --tblr-body-color: #1d273b;
  --tblr-emphasis-color: #000000;
  --tblr-emphasis-color-rgb: 0, 0, 0;
  --tblr-secondary-color: rgba(29, 39, 59, 0.75);
  --tblr-secondary-color-rgb: 29, 39, 59;
  --tblr-secondary-bg: #e2e8f0;
  --tblr-secondary-bg-rgb: 226, 232, 240;
  --tblr-tertiary-color: rgba(29, 39, 59, 0.5);
  --tblr-tertiary-color-rgb: 29, 39, 59;
  --tblr-tertiary-bg: #f1f5f9;
  --tblr-tertiary-bg-rgb: 241, 245, 249;
  --tblr-body-bg: #f1f5f9;
  --tblr-body-bg-rgb: 241, 245, 249;
  --tblr-link-color: #206bc4;
  --tblr-link-color-rgb: 32, 107, 196;
  --tblr-link-decoration: none;
  --tblr-link-hover-color: #1a569d;
  --tblr-link-hover-color-rgb: 26, 86, 157;
  --tblr-link-hover-decoration: underline;
  --tblr-code-color: var(--tblr-gray-600);
  --tblr-highlight-bg: #fdeccc;
  --tblr-border-width: 1px;
  --tblr-border-style: solid;
  --tblr-border-color: #e6e7e9;
  --tblr-border-color-translucent: rgba(97, 104, 118, 0.16);
  --tblr-border-radius: 4px;
  --tblr-border-radius-sm: 2px;
  --tblr-border-radius-lg: 8px;
  --tblr-border-radius-xl: 1rem;
  --tblr-border-radius-2xl: 2rem;
  --tblr-border-radius-pill: 100rem;
  --tblr-box-shadow: 0 0.5rem 1rem rgba(var(--tblr-body-color-rgb), 0.15);
  --tblr-box-shadow-sm: 0 0.125rem 0.25rem rgba(var(--tblr-body-color-rgb), 0.075);
  --tblr-box-shadow-lg: 0 1rem 3rem rgba(var(--tblr-body-color-rgb), 0.175);
  --tblr-box-shadow-inset: inset 0 1px 2px rgba(var(--tblr-body-color-rgb), 0.075);
  --tblr-emphasis-color: #000000;
  --tblr-form-control-bg: var(--tblr-body-bg);
  --tblr-form-control-disabled-bg: var(--tblr-secondary-bg);
  --tblr-highlight-bg: #fdeccc;
  --tblr-breakpoint-xs: 0;
  --tblr-breakpoint-sm: 576px;
  --tblr-breakpoint-md: 768px;
  --tblr-breakpoint-lg: 992px;
  --tblr-breakpoint-xl: 1200px;
  --tblr-breakpoint-xxl: 1400px;
}

[data-bs-theme=dark] {
  --tblr-body-color: #6c7a91;
  --tblr-body-color-rgb: 108, 122, 145;
  --tblr-body-bg: #0f172a;
  --tblr-body-bg-rgb: 15, 23, 42;
  --tblr-emphasis-color: #f1f5f9;
  --tblr-emphasis-color-rgb: 241, 245, 249;
  --tblr-secondary-color: rgba(108, 122, 145, 0.75);
  --tblr-secondary-color-rgb: 108, 122, 145;
  --tblr-secondary-bg: #1d273b;
  --tblr-secondary-bg-rgb: 29, 39, 59;
  --tblr-tertiary-color: rgba(108, 122, 145, 0.5);
  --tblr-tertiary-color-rgb: 108, 122, 145;
  --tblr-tertiary-bg: #161f33;
  --tblr-tertiary-bg-rgb: 22, 31, 51;
  --tblr-emphasis-color: #ffffff;
  --tblr-primary-text: #79a6dc;
  --tblr-secondary-text: #c8d3e1;
  --tblr-success-text: #82d18f;
  --tblr-info-text: #74c7d4;
  --tblr-warning-text: #f9c566;
  --tblr-danger-text: #e68888;
  --tblr-light-text: #f1f5f9;
  --tblr-dark-text: #c8d3e1;
  --tblr-primary-bg-subtle: #061527;
  --tblr-secondary-bg-subtle: #0f172a;
  --tblr-success-bg-subtle: #09240e;
  --tblr-info-bg-subtle: #052025;
  --tblr-warning-bg-subtle: #312000;
  --tblr-danger-bg-subtle: #2b0b0b;
  --tblr-light-bg-subtle: #1d273b;
  --tblr-dark-bg-subtle: #0f141e;
  --tblr-primary-border-subtle: #134076;
  --tblr-secondary-border-subtle: #313c52;
  --tblr-success-border-subtle: #1c6b29;
  --tblr-info-border-subtle: #09414a;
  --tblr-warning-border-subtle: #624000;
  --tblr-danger-border-subtle: #802222;
  --tblr-light-border-subtle: #313c52;
  --tblr-dark-border-subtle: #1d273b;
  --tblr-heading-color: #fff;
  --tblr-link-color: #79a6dc;
  --tblr-link-hover-color: #a6c4e7;
  --tblr-link-color-rgb: 121, 166, 220;
  --tblr-link-hover-color-rgb: 166, 196, 231;
  --tblr-code-color: #e685a7;
  --tblr-border-color: #313c52;
  --tblr-border-color-translucent: rgba(255, 255, 255, 0.15);
}

