
<div class="dt h-100 center">
  <div class="dtc v-mid">

	  <img src="/images/dw-triangles-black.png" class="db center o-10" />

	  {{#unless install_deleted}}
		<div class="red mv5">
		  ** delete install file: <span class="black">./controllers/install.php</span>
		</div>
	  {{/unless}}

  </div>
</div>