---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Demos">
  <div class="w-full">


    <div class="flex mb-16">
      <div class="w-1/2">
        <div class="text-2xl font-bold">DEMO/ REF</div>
      </div>
      <div class="w-1/2 text-right">
        <a
          class="btn btn-outline"
          href="https://flyonui.com/components/"
          target="_blank">Flyon UI</a
        > &nbsp;
        <a
          class="btn btn-outline"
          href="https://preline.co/docs/index.html"
          target="_blank">Preline</a
        > &nbsp;

        <a
          class="btn btn-outline"
          href="https://icon-sets.iconify.design/tabler/"
          target="_blank">Tabler Icons</a
        >
      </div>
    </div>











    <h2 class="card-title mt-4 mb-6">Demos</h2>
    <a class="btn btn-outline mb-3" href="/demo/dw">DW Components</a>
    <a class="btn btn-outline mb-3" href="/demo/flyon">Flyon UI</a>
    <a class="btn btn-outline mb-3" href="/demo/htmx">HTMX</a>
    <a class="btn btn-outline mb-3" href="/demo/dw-tabler">DW - Tabler</a>
  </div>
</Layout>
