@import "tailwindcss";
/* @plugin is valid in Tailwind v4 */

@plugin "@iconify/tailwind4";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, corporate, lofi;
}


/* DW */

.validation-error {
  * {
    color: var(--color-error);
  }
  .input, .textarea, .select, .checkbox, .radio, .button {
    border-color: var(--color-error);
  }
}
.validation-success {
  * {
    color: var(--color-success);
  }

  .input,
  .textarea,
  .select,
  .checkbox,
  .radio,
  .button {
    border-color: var(--color-success);
  }
}





