@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "@iconify/tailwind4";
@plugin "flyonui" {
  themes: corporate, shadcn;
}
@import "flyonui/variants.css";
@source "../../node_modules/flyonui/flyonui.js";


/* Fix focus outline gap from @tailwindcss/forms plugin */
.input:focus,
.textarea:focus,
.select:focus,
.pin-input:focus,
.checkbox:focus,
.radio:focus {
  outline-offset: 0 !important;
}







/* DW */

.validation-error {
  * {
    color: var(--color-error);
  }
  input,
  textarea,
  select,
  input[type="checkbox"],
  input[type="radio"],
  button {
    border-color: var(--color-error);
  }
}
.validation-success {
  * {
    color: var(--color-success);
  }

  input,
  textarea,
  select,
  input[type="checkbox"],
  input[type="radio"],
  button {
    border-color: var(--color-success);
  }
}





