@import "tailwindcss";
@plugin "@iconify/tailwind4";
@plugin "flyonui" {
  themes: corporate, shadcn;
}
@import "flyonui/variants.css";


/* DW */

.validation-error {
  * {
    color: var(--color-error);
  }
  .input, .textarea, .select, .checkbox, .radio, .button {
    border-color: var(--color-error);
  }
}
.validation-success {
  * {
    color: var(--color-success);
  }

  .input,
  .textarea,
  .select,
  .checkbox,
  .radio,
  .button {
    border-color: var(--color-success);
  }
}





