{{> admin/subnav-system}}


<div x-data="settings_edit()" class="mt3 ph3 pv3 ph4 ph5-l">
	<form action="javascript:void(0);">

		<div class="fs80 fw7 ttu pb1 bb bw2 b--black-40 mb3 o-30">Site Information</div>

		<div class="cf pt2">

			<div class="fl w-100 w-50-ns pr3-ns mb4">
				<label class="db mb2 roboto ttu b f6">Site Title</label>
				<input class="db w-100 pa2 f5" type="text" name="site_title" value="{{locals.site_title}}" />
			</div>

			<div class="fl w-100 w-50-ns pl3-ns mb4">
				<label class="db mb2 roboto ttu b f6">Site Code</label>
				<input class="db w-100 pa2 f5" type="text" name="site_code" value="{{locals.site_code}}" />
			</div>

		</div>

		<div class="cf mb2">

			<div class="fl w-100 w-50-ns pr3-ns mb4">
				<label class="db mb2 roboto ttu b f6">Site URL</label>
				<input class="db w-100 pa2 f5" type="text" name="site_url" value="{{locals.site_url}}" />
			</div>
			<div class="fl w-100 w-50-ns pl3-ns">
				<label class="db mb2 roboto ttu b f6">Mode</label>
				<select name="mode">
					<option></option>
					<option {{#is settings.mode "==" "development"}}selected="selected"{{/is}} value="development">Development</option>
					<option {{#is settings.mode "==" "production"}}selected="selected"{{/is}} value="production">Production</option>
				</select>
			</div>

		</div>




		<div class="fs80 fw7 ttu pb1 bb bw2 b--black-40 mb3 o-30">Database</div>

		<div class="cf pt2">

			<div class="fl w-100 w-50-ns pr3-ns mb4">
				<label class="db mb2 roboto ttu b f6">Host</label>
				<input class="db w-100 pa2 f5" type="text" name="db_host" value="{{settings.database.host}}" />
			</div>

			<div class="fl w-100 w-50-ns pl3-ns mb4">
				<label class="db mb2 roboto ttu b f6">DB Name</label>
				<input class="db w-100 pa2 f5" type="text" name="db_name" value="{{settings.database.name}}" />
			</div>

		</div>



		<div class="cf mb2">

			<div class="fl w-100 w-50-ns pr3-ns mb4">
				<label class="db mb2 roboto ttu b f6">DB User</label>
				<input class="db w-100 pa2 f5" type="text" name="db_user" value="{{settings.database.user}}" />
			</div>

			<div class="fl w-100 w-50-ns pl3-ns mb4">
				<label class="db mb2 roboto ttu b f6">DB Password</label>
				<input class="db w-100 pa2 f5" type="text" name="db_password" value="{{settings.database.password}}" />
			</div>

		</div>




		<div class="fs80 fw7 ttu pb1 bb bw2 b--black-40 mb3 o-30">Mailgun</div>

		<div class="cf pt2 mb2">

			<div class="fl w-100 w-50-ns pr3-ns mb4">
				<label class="db mb2 roboto ttu b f6">API Key</label>
				<input class="db w-100 pa2 f5" type="text" name="mailgun_api_key" value="{{settings.mailgun.api_key}}" />
			</div>

			<div class="fl w-100 w-50-ns pl3-ns mb4">
				<label class="db mb2 roboto ttu b f6">Domain</label>
				<input class="db w-100 pa2 f5" type="text" name="mailgun_domain" value="{{settings.mailgun.domain}}" />
			</div>

		</div>





		<div class="fs80 fw7 ttu pb1 bb bw2 b--black-40 mb3 o-30">Amazon S3</div>

		<div class="cf pt2">

			<div class="fl w-100 w-50-ns pr3-ns mb4">
				<label class="db mb2 roboto ttu b f6">Key</label>
				<input class="db w-100 pa2 f5" type="text" name="s3_key" value="{{settings.s3.key}}" />
			</div>

			<div class="fl w-100 w-50-ns pl3-ns mb4">
				<label class="db mb2 roboto ttu b f6">Secret</label>
				<input class="db w-100 pa2 f5" type="text" name="s3_secret" value="{{settings.s3.secret}}" />
			</div>

		</div>

		<div class="cf mb2">

			<div class="fl w-100 w-50-ns pr3-ns mb4">
				<label class="db mb2 roboto ttu b f6">Bucket</label>
				<input class="db w-100 pa2 f5" type="text" name="s3_bucket" value="{{settings.s3.bucket}}" />
			</div>

			<div class="fl w-100 w-50-ns pl3-ns">
			</div>

		</div>









		<div class="fs80 fw7 ttu pb1 bb bw2 b--black-40 mb3 o-30">Bit.ly</div>

		<div class="cf pt2">

			<div class="fl w-100 w-50-ns pr3-ns mb4">
				<label class="db mb2 roboto ttu b f6">Login</label>
				<input class="db w-100 pa2 f5" type="text" name="bitly_login" value="{{settings.bitly.login}}" />
			</div>

			<div class="fl w-100 w-50-ns pl3-ns mb4">
				<label class="db mb2 roboto ttu b f6">API Key</label>
				<input class="db w-100 pa2 f5" type="text" name="bitly_apikey" value="{{settings.bitly.apikey}}" />
			</div>

		</div>

		<div class="cf mb2">

			<div class="fl w-100 w-50-ns pr3-ns mb4">
				<label class="db mb2 roboto ttu b f6">Token</label>
				<input class="db w-100 pa2 f5" type="text" name="bitly_token" value="{{settings.bitly.token}}" />
			</div>

			<div class="fl w-100 w-50-ns pl3-ns">
			</div>

		</div>





		<div class="fs80 fw7 ttu pb1 bb bw2 b--black-40 mb3 o-30">Twilio</div>

		<div class="cf pt2">

			<div class="fl w-100 w-50-ns pr3-ns mb4">
				<label class="db mb2 roboto ttu b f6">SID</label>
				<input class="db w-100 pa2 f5" type="text" name="twilio_sid" value="{{settings.twilio.sid}}" />
			</div>

			<div class="fl w-100 w-50-ns pl3-ns mb4">
				<label class="db mb2 roboto ttu b f6">Token</label>
				<input class="db w-100 pa2 f5" type="text" name="twilio_token" value="{{settings.twilio.token}}" />
			</div>

		</div>

		<div class="cf mb2">

			<div class="fl w-100 w-50-ns pr3-ns mb4">
				<label class="db mb2 roboto ttu b f6">PK</label>
				<input class="db w-100 pa2 f5" type="text" name="twilio_pk" value="{{settings.twilio.pk}}" />
			</div>

			<div class="fl w-100 w-50-ns pl3-ns">
				<label class="db mb2 roboto ttu b f6">Number</label>
				<input class="db w-100 pa2 f5" type="text" name="twilio_number" value="{{settings.twilio.number}}" />
			</div>

		</div>









		<div class="fs80 fw7 ttu pb1 bb bw2 b--black-40 mb3 o-30">IMAP</div>

		<div class="cf pt2">

			<div class="fl w-100 w-50-ns pr3-ns mb4">
				<label class="db mb2 roboto ttu b f6">Username</label>
				<input class="db w-100 pa2 f5" type="text" name="imap_username" value="{{settings.imap.username}}" />
			</div>

			<div class="fl w-100 w-50-ns pl3-ns mb4">
				<label class="db mb2 roboto ttu b f6">Password</label>
				<input class="db w-100 pa2 f5" type="text" name="imap_password" value="{{settings.imap.password}}" />
			</div>

		</div>

		<div class="cf">

			<div class="fl w-100 w-50-ns pr3-ns mb4">
				<label class="db mb2 roboto ttu b f6">Host</label>
				<input class="db w-100 pa2 f5" type="text" name="imap_host" value="{{settings.imap.host}}" />
			</div>

			<div class="fl w-100 w-50-ns pl3-ns">
				<label class="db mb2 roboto ttu b f6">Port</label>
				<input class="db w-100 pa2 f5" type="text" name="imap_port" value="{{settings.imap.port}}" />
			</div>

		</div>

		<div class="cf mb2">

			<div class="fl w-100 w-50-ns pr3-ns mb4">
				<label class="db mb2 roboto ttu b f6">TLS</label>
				<input class="db w-100 pa2 f5" type="text" name="imap_tls" value="{{settings.imap.tls}}" />
			</div>

			<div class="fl w-100 w-50-ns pl3-ns">

			</div>

		</div>


	</form>

  <button class="br2 dib pv3 ph4 bg-near-black hover-bg-black-80 white bn mb4 pointer f5 fw7" @click="save()">Save</button>
  
</div>



<script>
function settings_edit() {
  return {
    save: function(){
			document.body.classList.add('working');
	    dw.api_request({
		    url: '/settings/save/',
		    data: {
			    user_id: Cookies.get('user_id'),
					form: dw.serialize(document.querySelector('form'))
		    },
		    callback: function(r){
					window.location.href = '/';
				}
			});
    }
  }
}
</script>


