---
import AdminLayout from "@/layouts/AdminLayout.astro";
import LinkForm from "@/components/forms/LinkForm.astro";
import { db } from "@/lib/db";
import { Card } from "@/components/ui/shadcn/card";
import Breadcrumb from "@/components/ui/Breadcrumb.astro";
const uuid = Astro.url.searchParams.get("uuid");

if (!uuid) {
  return Astro.redirect("/admin/links");
}

let link;

try {
  link = await db
    .selectFrom("links")
    .selectAll()
    .where("uuid", "=", uuid)
    .where("deleted_at", "is", null)
    .executeTakeFirst();
} catch (error) {
  console.error("Error fetching link:", error);
}

if (!link) {
  return new Response(null, {
    status: 404,
  });
}
---

<AdminLayout title={`${link?.title} | Edit Link`}>
  <div class="w-full">
    <Breadcrumb
      items={[
        {
          href: "/admin",
          label: "Dashboard",
        },
        {
          href: "/admin/links",
          label: "Links",
        },
        {
          href: "",
          label: `Edit: ${link?.title || ""}`.trim()
        },
      ]}
    />
    <Card className="p-6">
      <LinkForm link={link} redirect="/admin/links" />
    </Card>
  </div>
</AdminLayout>
