---
import AdminLayout from "@/layouts/AdminLayout.astro";
import TableDatalist from "@/components/admin/TableDatalist.astro";
import { formatDate } from "@/lib/dw";
import { db } from "@/lib/db";

let link;

try {
  link = await db
    .selectFrom('links')
    .selectAll()
    .where('deleted_at', 'is', null)
    .orderBy('created_at')
    .execute();
} catch (error) {
  console.error("Error fetching link:", error);
}

// DW
// Quick check using JWT claims stored in locals
if (Astro.locals.authRoles?.includes("admin")) {
  // Show admin UI elements
}
---

<AdminLayout title="All Links">
  <div class="w-full">
    <TableDatalist
      data={link ?? []}
      columns={[
        {
          header: "Title",
          cell: {
            content: (link: any) =>
              `<a href="/links/${link.uuid}">${link.title}</a>`,
          },
        },
        {
          header: "Created At",
          cell: {
            content: (link: any) => formatDate(link.created_at),
          },
        },
        {
          header: "Updated At",
          cell: {
            content: (link: any) => link.updated_at ? formatDate(link.updated_at) : "",
          },
        },
        {
          header: "Actions",
          cell: {
            class: "text-right",
            content: (link: any) => `
            <a href="/admin/links/edit?uuid=${link.uuid}" 
              class="btn btn-circle btn-text btn-sm" 
              aria-label="Edit" 
              data-astro-prefetch>
              <span class="icon-[tabler--pencil] size-5"></span>
            </a>
            <a href="/links/${link.uuid}" 
              target="_blank" 
              class="btn btn-circle btn-text btn-sm" 
              aria-label="View" 
              data-astro-prefetch>
              <span class="icon-[tabler--external-link] size-5"></span>
            </a>`,
          },
        },
      ]}
      title="All Links"
      newItemLink={{
        href: "/admin/links/new",
        text: "New Link",
      }}
      publicLink={{
        href: "/links",
        text: "Public Links",
      }}
    />
  </div>
</AdminLayout>
