---
import AdminLayout from "@/layouts/AdminLayout.astro";
import LinkForm from "@/components/forms/LinkForm.astro";
---

<AdminLayout title="New Link">
  <div class="w-full">
    <LinkForm redirect="/admin/links" />
  </div>
</AdminLayout>
