---
import Layout from "@/layouts/Layout.astro";
import HorseForm from "@/components/HorseForm.astro";
---

<Layout title="New Horse">
  <div class="w-full">
    <HorseForm redirect="/horses/profile/$slug" />
  </div>
</Layout>
