---
import AdminLayout from "@/layouts/AdminLayout.astro";
import HorseForm from "@/components/HorseForm.astro";
---

<AdminLayout title="New Horse">
  <div class="w-full">
    <HorseForm redirect="/horses/profile/$slug" />
  </div>
</AdminLayout>
