---
import Layout from "@/layouts/Layout.astro";
---

<Layout>

  <div class="flex flex-col items-center justify-center flex-1">
    <div class="text-center">
      <div class="text-2xl font-bold mb-4">
        <a
          href="https://github.com/jyoungblood/darkwave"
          target="_blank"
          class="no-underline hover:underline"
        >
          DARKWAVE 0.7.0
        </a>
        <!-- 
        <div class="text-sm">

        </div> 
        -->
      </div>
    </div>
  </div>
</Layout>
