---
import Layout from "@/layouts/Layout.astro";
import ButtonLink from "@/components/ui/ButtonLink.astro";
---

<Layout>
  <div class="flex flex-col items-center justify-center flex-1">
    <div class="text-center">
      <div>
        <div class="text-2xl font-bold mb-4">DARKWAVE 0.7.8</div>
        <div class="flex items-center justify-between gap-4">
          <ButtonLink
            size="sm"
            href="https://darkwavejs.com"
            target="_blank"
          >
            <span class="icon-[tabler--book]"></span>Docs
          </ButtonLink>
          <ButtonLink
            size="sm"
            href="https://github.com/jyoungblood/darkwave"
            target="_blank"
          >
            <span class="icon-[tabler--brand-github]"></span>Source
          </ButtonLink>
        </div>
      </div>
    </div>
  </div>
</Layout>
