---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="flex flex-col items-center justify-center flex-1">
    <div class="text-center">
      <div>
        <div class="text-2xl font-bold mb-4">DARKWAVE 0.7.0</div>
        <div class="flex items-center justify-between gap-4">
          <a
            class="btn btn-sm btn-outline no-underline hover:underline font-semibold"
            href="https://darkwave.ltd"
            target="_blank"><span class="icon-[tabler--book]"></span>Docs</a
          >
          <a
            class="btn btn-sm btn-outline no-underline hover:underline font-semibold"
            href="https://github.com/jyoungblood/darkwave"
            target="_blank"><span class="icon-[tabler--brand-github]"></span>Source</a
          >
        </div>
      </div>
    </div>
  </div>
</Layout>
