
<div class="dt h-100 w-100 w-60-m w-50-l center pv5 ph4">
  <div class="dtc v-mid f4 lh-copy">
	
	  <form method="post" action="/forgot/process">
	
			<div class="mb4">Tell us your email address and we'll send you instructions to reset your password.</div>
	
	    <div class="mb5">
	      <label class="db mb2">Email Address</label>
	      <input class="db w-100 ba bw1 pa3 b" type="text" name="email" />
	    </div>
		
	    <div class="dn">
	      <input type="text" name="website" />
	    </div>
	    
			<button class="db pv4 w-100 bg-near-black white bn b mb4">Reset Password</button>	

	  </form>


	</div>
</div>
