

	<div class="dt h-100 w-100 w-60-m w-50-l center pv5 ph4">
	  <div class="dtc v-mid f4 lh-copy login-container">

		  <form class="login" onsubmit="return false;">

		    <div class="mb4 validate-email login-field">
		      <label class="db mb2">Email Address</label>
		      <input class="db w-100 ba bw1 pa3 b" type="text" name="email" />
		      <span class="db f6 pt2"></span>
		    </div>

		    <div class="mb5 validate-password login-field">
		      <label class="db mb2">Password</label>
		      <input class="db w-100 ba bw1 pa3 b" type="password" name="password" />
		      <span class="db f6 pt2"></span>
		    </div>

		    <div class="dn">
		      <input type="text" name="website" />
		    </div>

				<input type="hidden" name="ip" value="{{ip}}" />
				<input type="hidden" name="redirect" value="{{redirect}}" />

		    <button class="db pv4 w-100 bg-near-black white bn b mb4" rel="login">Login</button>
				<div class="tc">
			    <a class="silver f5 u" href="/forgot">forgot password?</a>
				</div>
		  </form>

		</div>
	</div>
