<!DOCTYPE html>
<html>
  <head>

    <title>{{title}}</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CDN Links for all libs -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/css/tabler.min.css"> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/js/tabler.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/dw-utilities@0.6/dist/dw.min.js"></script> -->
    <!-- <script src="https://instant.page/5.1.1" type="module" integrity="sha384-MWfCL6g1OTGsbSwfuMHc8+8J2u71/LA8dzlIN3ycajckxuZZmF+DNjdm7O6H3PSq"></script> -->

    <link href="/css/lib/tabler-dw.css" rel="stylesheet" />
    <link href="/css/lib/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="/css/lib/dw.css" rel="stylesheet" />

    <script src="/js/lib/tabler.min.js"></script>
    <script src="/js/lib/alpine.min.js" defer></script>
    <script src="/js/lib/dw.min.js"></script>
    <script src="/js/lib/instant.page.min.js" type="module"></script>

  </head>

  <body>

    {{outlet}}

    <div class="spinner-container">
      <div class="page page-center align-items-center">
        <div class="spinner-border text-light" style="width: 8rem; height: 8rem; border-width: 0.5rem;" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>

  </body>

</html>