<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/css/lib/tabler.min.css" rel="stylesheet" />
  <link href="/css/lib/dropzone.min.css" rel="stylesheet" />
  <link href="/css/lib/tabler-vendors.min.css" rel="stylesheet" />
  <link href="/css/lib/dw.css" rel="stylesheet" />

  <script src="/js/lib/dw.min.js"></script>
  <script src="/js/lib/tabler.min.js" defer></script>
  <script src="/js/lib/alpine.min.js" defer></script>
  <script src="/js/lib/htmx.min.js" defer></script>
  <script src="/js/lib/dropzone.min.js" defer></script>
  <script src="/js/lib/litepicker.min.js" defer></script>
  <script src="/js/lib/instant.page.min.js" type="module"></script>

</head>

<body>

  {{outlet}}

  <div class="spinner-container">
    <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
      <div class="spinner-border text-light" style="width: 8rem; height: 8rem; border-width: 0.5rem;" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>

</body>

</html>