<div style="display: table; height: 100%;margin: 0 auto;">
<div style="display: table-cell; vertical-align: middle;">
<center>
<pre>                                                                                   
 ___   ___      ________      ___   ___     
|\  \ |\  \    |\   __  \    |\  \ |\  \    
\ \  \\_\  \   \ \  \|\  \   \ \  \\_\  \   
 \ \______  \   \ \  \\\  \   \ \______  \  
  \|_____|\  \   \ \  \\\  \   \|_____|\  \ 
         \ \__\   \ \_______\         \ \__\
          \|__|    \|_______|          \|__|
                                                    
                                                    
</pre>
<pre>ERROR: NOT FOUND</pre>
</center>
</div>
</div>