
<!-- IT'S OK TO DELETE THIS ONCE YOU START WORKING ON YOUR SITE -->

{{#unless site_title}}


	<div class="dt h-100 center pv5">
	  <div class="install-container dtc v-mid f5 lh-copy">

			<img src="/images/dw-triangles-black.png" class="db center mb5 w-50 o-90" />

			<h3 class="tc mb5">Darkwave v0.2.1</h3>

		  <form action="/install" method="post">

				<h4 class="mid-gray bg-light-gray tc pa3 f6">Site Information</h4>
		    <div class="mb4">
		      <label class="db mb2">Site Title</label>
		      <input class="w-100 ba bw1 pa3 b" type="text" name="site_title" />
		    </div>

		    <div class="mb4">
		      <label class="db mb2">Site Code</label>
		      <input class="w-100 ba bw1 pa3 b" type="text" name="site_code" />
		    </div>

		    <div class="mb5">
		      <label class="db mb2">Site URL</label>
		      <input class="w-100 ba bw1 pa3 b" type="text" name="site_url" value="{{site_url}}" />
		    </div>




				<h4 class="mid-gray bg-light-gray tc pa3 f6">Database</h4>
		    <div class="mb4">
		      <label class="db mb2">Host</label>
		      <input class="w-100 ba bw1 pa3 b" type="text" name="db_host" />
		    </div>

		    <div class="mb4">
		      <label class="db mb2">DB Name</label>
		      <input class="w-100 ba bw1 pa3 b" type="text" name="db_name" />
		    </div>

		    <div class="mb4">
		      <label class="db mb2">DB User</label>
		      <input class="w-100 ba bw1 pa3 b" type="text" name="db_user" />
		    </div>

		    <div class="mb5">
		      <label class="db mb2">DB Password</label>
		      <input class="w-100 ba bw1 pa3 b" type="password" name="db_password" />
		    </div>




				<h4 class="mid-gray bg-light-gray tc pa3 f6">Admin User</h4>
		    <div class="mb4">
		      <label class="db mb2">Email Address</label>
		      <input class="w-100 ba bw1 pa3 b" type="text" name="user_email" />
		    </div>

		    <div class="mb4">
		      <label class="db mb2">Screen Name</label>
		      <input class="w-100 ba bw1 pa3 b" type="text" name="user_screenname" value="admin" />
		    </div>

		    <div class="mb5">
		      <label class="db mb2">Password</label>
		      <input class="w-100 ba bw1 pa3 b" type="password" name="user_password" />
		    </div>




		    <button class="db pv4 w-100 bg-near-black white bn b mb4">Install</button>

		  </form>

		</div>
	</div>













{{else}}

<div class="dt h-100 center">
  <div class="dtc v-mid">

		{{#if error}}
		Installation failed:
		<div class="red">
			{{error}}
		</div>
		{{else}}

	  <a href="/admin"><img src="/images/dw-triangles-black.png" class="db center o-10" /></a>
	  {{#unless install_deleted}}
		<div class="red mv5">
		  ** delete install file: <span class="black">./controllers/install.php</span>
		</div>
	  {{/unless}}

		{{/if}}

  </div>
</div>

{{/unless}}
