<div style="display: table; height: 100%; margin: 0 auto;">
  <div style="display: table-cell; vertical-align: middle;">
    <center>
      <pre>
 ___   ___      ________      ___   ___     
|\  \ |\  \    |\   __  \    |\  \ |\  \    
\ \  \\_\  \   \ \  \|\  \   \ \  \\_\  \   
 \ \______  \   \ \  \\\  \   \ \______  \  
  \|_____|\  \   \ \  \\\  \   \|_____|\  \ 
         \ \__\   \ \_______\         \ \__\
          \|__|    \|_______|          \|__|
                                                    
          
      </pre>
      <span style="font-size: 0.85rem; letter-spacing: 0.015rem; font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif">ERROR: NOT FOUND</span>
    </center>
  </div>
</div>