




{{#unless locals.site_title}}

<div class="center mw6 pa5">

	<div class="tc f1 mb3">▲▼</div>

	<div class="tc mb5 fw7 f4">Darkwave v0.4.0</div>

	<form action="/install" method="post">

		<div class="fs80 fw7 ttu pb1 bb bw2 b--black-40 mb3 o-30">Site Information</div>
		<div class="pt2 mb4">
			<label class="db mb2 roboto ttu b f6 o-90">Site Title</label>
			<input class="db w-100 pa2 f5 br1" type="text" name="site_title" />
		</div>

		<div class="mb4">
			<label class="db mb2 roboto ttu b f6 o-90">Site Code</label>
			<input class="db w-100 pa2 f5 br1" type="text" name="site_code" />
		</div>

		<div class="mb5">
			<label class="db mb2 roboto ttu b f6 o-90">Site URL</label>
			<input class="db w-100 pa2 f5 br1" type="text" name="site_url" value="{{locals.site_url}}" />
		</div>

		<div class="fs80 fw7 ttu pb1 bb bw2 b--black-40 mb3 o-30">Database</div>
		<div class="pt2 mb4">
			<label class="db mb2 roboto ttu b f6 o-90">Host</label>
			<input class="db w-100 pa2 f5 br1" type="text" name="db_host" value="localhost" />
		</div>

		<div class="mb4">
			<label class="db mb2 roboto ttu b f6 o-90">DB Name</label>
			<input class="db w-100 pa2 f5 br1" type="text" name="db_name" />
		</div>

		<div class="mb4">
			<label class="db mb2 roboto ttu b f6 o-90">DB User</label>
			<input class="db w-100 pa2 f5 br1" type="text" name="db_user" />
		</div>

		<div class="mb5">
			<label class="db mb2 roboto ttu b f6 o-90">DB Password</label>
			<input class="db w-100 pa2 f5 br1" type="password" name="db_password" />
		</div>

		<div class="fs80 fw7 ttu pb1 bb bw2 b--black-40 mb3 o-30">Admin User</div>
		<div class="pt2 mb4">
			<label class="db mb2 roboto ttu b f6 o-90">Email Address</label>
			<input class="db w-100 pa2 f5 br1" type="text" name="user_email" />
		</div>

		<div class="mb4">
			<label class="db mb2 roboto ttu b f6 o-90">Screen Name</label>
			<input class="db w-100 pa2 f5 br1" type="text" name="user_screenname" value="admin" />
		</div>

		<div class="mb5">
			<label class="db mb2 roboto ttu b f6 o-90">Password</label>
			<input class="db w-100 pa2 f5 br1" type="password" name="user_password" />
		</div>

		<button class="roboto ttu f5 br2 db pv3 w-100 bg-near-black hover-bg-black-80 white bn b mb4 pointer">Install</button>

	</form>

</div>


{{else}}







<!-- admin intro -->

<div class="ph3 pv4 ph5-l">

  {{#unless install_deleted}}
  <div class="red mb4">
    ** delete install file: <span class="black">./controllers/install.php</span>
  </div>
  {{/unless}}

  <div class="f3 fw7 mb4">Welcome to the admin!</div>

  Check out the <a class="green" href="https://darkwave.ltd/docs">DW docs</a> to get started building screens and
  functionality.<br /><br />

</div>










<!-- old dw default -->
<!-- 
<div class="dt h-100 center">
	<div class="dtc v-mid">

		{{#if error}}
		Installation failed:
		<div class="red">
			{{error}}
		</div>
		{{else}}

		<div class="tc f-headline mb3">▲▼</div>
    
		{{#unless install_deleted}}
		<div class="red mv5">
			** delete install file: <span class="black">./controllers/install.php</span>
		</div>
		{{/unless}}

		{{/if}}

	</div>
</div>
 -->

{{/unless}}