<!DOCTYPE html>
<html data-theme="light">
<head>

	<title>{{title}}</title>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

  {{> favicons}}

	<link rel="stylesheet" href="/css/lib/pico.classless.min.css" />
	<!-- <link rel="stylesheet" href="/css/lib/darkwave.css" />
	<link rel="stylesheet" href="/css/styles.css" />
	<link rel="stylesheet" href="/css/breakpoints.css" /> -->

</head>
<body>

    <header>
      header
    </header>
    <main> 

  <!-- [[outlet]] -->

  <h1>pico demo</h1>
  




<form>





  <!-- Grid -->
  <div class="grid">

    <!-- Markup example 1: input is inside label -->
    <label for="firstname">
      First name
      <input type="text" id="firstname" name="firstname" placeholder="First name" required>
    </label>

    <label for="lastname">
      Last name
      <input type="text" id="lastname" name="lastname" placeholder="Last name" required>
    </label>

  </div>

  <!-- Markup example 2: input is after label -->
  <label for="email">Email address</label>
  <input type="email" id="email" name="email" placeholder="Email address" required>
  <small>We'll never share your email with anyone else.</small>


<input type="text" placeholder="Valid" aria-invalid="false">
<input type="text" placeholder="Invalid" aria-invalid="true">
<input type="text" placeholder="Disabled" disabled>
<input type="text" value="Readonly" readonly>






<!-- Select -->
<label for="fruit">Fruit</label>
<select id="fruit" required>
  <option value="" selected>Select a fruit…</option>
  <option>…</option>
</select>

<!-- Radios -->
<fieldset>
  <legend>Size</legend>
  <label for="small">
    <input type="radio" id="small" name="size" value="small" checked>
    Small
  </label>
  <label for="medium">
    <input type="radio" id="medium" name="size" value="medium">
    Medium
  </label>
  <label for="large">
    <input type="radio" id="large" name="size" value="large">
    Large
  </label>
  <label for="extralarge">
    <input type="radio" id="extralarge" name="size" value="extralarge" disabled>
    Extra Large
  </label>
</fieldset>

<!-- Checkboxes -->
<fieldset>
  <label for="terms">
    <input type="checkbox" id="terms" name="terms">
    I agree to the Terms and Conditions
  </label>
  <label for="terms_sharing">
    <input type="checkbox" id="terms_sharing" name="terms_sharing" disabled checked>
    I agree to share my information with partners
  </label>
</fieldset>

<!-- Switches -->
<fieldset>
  <label for="switch">
    <input type="checkbox" id="switch" name="switch" role="switch">
    Publish on my profile
  </label>
  <label for="switch_disabled">
    <input type="checkbox" id="switch_disabled" name="switch_disabled" role="switch_disabled" disabled checked>
    User must change password at next logon
  </label>
</fieldset>



<!-- Search -->
<input type="search" id="search" name="search" placeholder="Search">

<!-- File browser -->
<label for="file">File browser
  <input type="file" id="file" name="file">
</label>

<!-- Range slider -->
<label for="range">Range slider
  <input type="range" min="0" max="100" value="50" id="range" name="range">
</label>

<!-- Date -->
<label for="date">Date
  <input type="date" id="date" name="date">
</label>

<!-- Time -->
<label for="time">Time
  <input type="time" id="time" name="time">
</label>

<!-- Color -->
<label for="color">Color
  <input type="color" id="color" name="color" value="#0eaaaa">
</label>


  <!-- Button -->
  <button type="submit">Submit</button>

</form>








<table>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Heading</th>
      <th scope="col">Heading</th>
      <th scope="col">Heading</th>
      <th scope="col">Heading</th>
      <th scope="col">Heading</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
      <td>Cell</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th scope="col">#</th>
      <td scope="col">Total</td>
      <td scope="col">Total</td>
      <td scope="col">Total</td>
      <td scope="col">Total</td>
      <td scope="col">Total</td>
    </tr>
  </tfoot>
</table>







<details>
  <summary>Accordion 1</summary>
  <p>…</p>
</details>

<details open>
  <summary>Accordion 2</summary>
  <ul>
    <li>…</li>
    <li>…</li>
  </ul>
</details>







<!-- Dropdown -->
<details role="list">
  <summary aria-haspopup="listbox">Dropdown</summary>
  <ul role="listbox">
    <li><a>Action</a></li>
    <li><a>Another action</a></li>
    <li><a>Something else here</a></li>
  </ul>
</details>

<!-- Select -->
<select>
  <option value="" disabled selected>Select</option>
  <option>…</option>
</select>




<button data-tooltip="Top" data-placement="top">Top</button>
<button data-tooltip="Right" data-placement="right">Right</button>
<button data-tooltip="Bottom" data-placement="bottom">Bottom</button>
<button data-tooltip="Left" data-placement="left">Left</button>



<a href="#" aria-busy="true">Generating link, please wait…</a>



<article>I'm a card!</article>



<div class="grid">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
  <div>5</div>
  <div>6</div>
</div>


    </main>
    <footer>
      footer
    </footer>






<script>
  var e = {
      _scheme: "auto",
      change: {
        light: "<i>Turn on dark mode</i>",
        dark: "<i>Turn off dark mode</i>"
      },
      buttonsTarget: ".theme-switcher",
      localStorageKey: "picoPreferedColorScheme",
      init() {
        this.scheme = this.schemeFromLocalStorage, this.initSwitchers()
      },
      get schemeFromLocalStorage() {
        return void 0 !== window.localStorage && null !== window.localStorage.getItem(this.localStorageKey) ? window.localStorage.getItem(this.localStorageKey) : this._scheme
      },
      get preferedColorScheme() {
        return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"
      },
      initSwitchers() {
        document.querySelectorAll(this.buttonsTarget).forEach(e => {
          e.addEventListener("click", () => {
            "dark" == this.scheme ? this.scheme = "light" : this.scheme = "dark"
          }, !1)
        })
      },
      addButton(e) {
        var t = document.createElement(e.tag);
        t.className = e.class, document.querySelector(e.target).appendChild(t)
      },
      set scheme(e) {
        "auto" == e ? "dark" == this.preferedColorScheme ? this._scheme = "dark" : this._scheme = "light" : "dark" != e && "light" != e || (this._scheme = e), this.applyScheme(), this.schemeToLocalStorage()
      },
      get scheme() {
        return this._scheme
      },
      applyScheme() {
        document.querySelector("html").setAttribute("data-theme", this.scheme), document.querySelectorAll(this.buttonsTarget).forEach(e => {
          var t = "dark" == this.scheme ? this.change.dark : this.change.light;
          e.innerHTML = t, e.setAttribute("aria-label", t.replace(/<[^>]*>?/gm, ""))
        })
      },
      schemeToLocalStorage() {
        void 0 !== window.localStorage && window.localStorage.setItem(this.localStorageKey, this.scheme)
      }
    };
    e.addButton({
      tag: "BUTTON",
      class: "contrast switcher theme-switcher",
      target: "body"
    }), e.init()
</script>



	<script src="/js/lib/darkwave.js"></script>
	<script src="/js/lib/alpine.min.js"></script>
	<script src="/js/lib/instant.page.min.js" type="module" defer></script>

</body>
</html>