



<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row">
      <div class="col">
        <h2 class="page-title">
          Search results for: &nbsp; <i>{{GET.k}}</i>
        </h2>
      </div>
      <!-- Page title actions -->
      <div class="col-auto ms-auto d-print-none">
        ??
      </div>
    </div>
  </div>
</div>

































<div class="page-body">
  <div class="container-xl">


    <div class="row row-cards mb-3">


      <div class="col-12">
        <div class="card">

          <div class="p-3">
search results go here...<br /><br />
maybe with a pagination thing at the end...

          </div>



        </div>
      </div>



    </div>



    <div class="row row-cards mb-3">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <ul class="pagination ">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                  <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M15 6l-6 6l6 6"></path></svg>
                  prev
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item">
                <a class="page-link" href="#">
                  next <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 6l6 6l-6 6"></path></svg>
                </a>
              </li>
            </ul>
            <ul class="pagination ">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                  <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M15 6l-6 6l6 6"></path></svg>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item">
                <a class="page-link" href="#">
                  <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 6l6 6l-6 6"></path></svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cards">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <ul class="pagination ">
              <li class="page-item page-prev disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                  <div class="page-item-subtitle">previous</div>
                  <div class="page-item-title">Getting started</div>
                </a>
              </li>
              <li class="page-item page-next">
                <a class="page-link" href="#">
                  <div class="page-item-subtitle">next</div>
                  <div class="page-item-title">Breadcrumbs</div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>


