<div class="flex justify-between bg-black-70 w-100 ph3 pv2 pv3-ns ph4-m ph5-l">

	<div class="f6 flex-grow">
		<a class="roboto {{#if current_users}}white{{else}}white-70{{/if}} hover-white dib mr4 no-underline" href="/users" title="Users">Users</a>
		<a class="roboto {{#if current_settings}}white{{else}}white-70{{/if}} hover-white dib mr4 no-underline" href="/settings" title="Site Settings">Site Settings</a>
	</div>

	<div class="flex tr">
    <a class="f7 white-50 hover-white dib ml3 no-underline" href="/logout" data-no-instant title="Log Out">Log Out <i class="ml1 fa fa-sign-out" aria-hidden="true"></i></a>
	</div>

</div>