{{> subnav-system}}

<div class="flex justify-between w-100 ph3 pt3-ns pt2 ph4-m ph5-l">
	<div class="f6 flex-grow">
	<!-- search bar here -->
	</div>
	<div class="flex tr">
		<a href="/users/edit/new" class="bg-black-80 br2 b f7 ba bw1 b--black-10 no-underline ph2 pv2 dib white-90 hover-bg-black pointer"><i class="fa fa-plus mr1" aria-hidden="true"></i> New User</a>
	</div>
</div>



<div class="ph3 pv3 ph4-m ph5-l">
	<div class="overflow-auto">
		<table class="f6 black-70 w-100 center" cellspacing="0">
			<thead>
				<tr>
					<th class="fw6 tl pa3 bg-black-10 black-60">Screen Name</th>
					<th class="fw6 tl pa3 bg-black-10 black-60">Email</th>
					<th class="fw6 tl pa3 bg-black-10 black-60">Name</th>
					<th class="fw6 tl pa3 bg-black-10 black-60">Date Created</th>
				</tr>
			</thead>
			<tbody class="lh-copy">
				{{#each users}}
				<tr class="stripe-dark">
					<td class="pa3"><a class="green b no-underline" href="/users/edit/{{_id}}">{{screenname}}</a></td>
					<td class="pa3">{{email}}</td>
					<td class="pa3">{{first_name}} {{last_name}}</td>
					<td class="pa3">{{date date_created "m/d/Y"}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>