---
import Layout from "@/layouts/Layout.astro";
import GenericCard from "@/components/ui/GenericCard.astro";
import { db } from "@/lib/db";

let links;

try {
  links = await db
    .selectFrom("links")
    .selectAll()
    .where("deleted_at", "is", null)
    .orderBy("created_at")
    .execute();
} catch (error) {
  console.error("Error fetching link:", error);
}
---

<Layout title="Links">
  <div class="w-full">
    <div class="mt-8">
      <div class="flex justify-between items-center mb-4">
        <div>
          <h2 class="text-lg font-semibold">Links</h2>
        </div>
        <div>
          <a href="/links/new" class="btn btn-primary">
            <span
              class="icon-[tabler--link]"
            ></span>
            New Link
          </a>
        </div>
      </div>
    </div>

    {
      links && (
        <div class="">
          {links.length === 0 ? (
            <p class="text-neutral-500">No links found...</p>
          ) : (
            <div class="grid grid-cols-4 gap-4">
              {links.map((link) => (
                <GenericCard
                  link={`/links/${link.uuid}`}
                  image={link.photo_url}
                  title={link.title}
                >
                  [details]
                </GenericCard>
              ))}
            </div>
          )}
        </div>
      )
    }

  </div>
</Layout>
