---
import AdminLayout from "@/layouts/AdminLayout.astro";
import TableDatalist from "@/components/ui/admin/TableDatalist.astro";
import { formatDate } from "@/lib/dw/helpers";
import { db } from "@/lib/db";

let users;

try {
  users = await db
    .selectFrom("user")
    .selectAll()
    .orderBy("createdAt")
    .execute();
} catch (error) {
  console.error("Error fetching users:", error);
}
---

<AdminLayout title="All Users">
  <div class="w-full">
    <TableDatalist
      data={users ?? []}
      columns={[
        {
          header: "Email",
          sortable: true,
          accessorKey: "email",
          cell: {
            content: (user: any) =>
              `<a href="/admin/users/edit?id=${user.id}">${user.email}</a>`,
          },
        },
        {
          header: "Name",
          sortable: true,
          accessorKey: "first_name",
          cell: {
            content: (user: any) => (user.first_name && user.last_name) ? user.first_name + " " + user.last_name : user.first_name || user.last_name || "",
          },
        },
        {
          header: "Created At",
          sortable: true,
          type: "date",
          align: "center",
          accessorKey: "createdAt",
          cell: {
            content: (user: any) => formatDate(user.createdAt),
          },
        },
        {
          header: "Updated At",
          sortable: true,
          type: "date",
          align: "center",
          accessorKey: "updatedAt",
          cell: {
            content: (user: any) =>
              user.updatedAt ? formatDate(user.updatedAt) : "",
          },
        },
        {
          header: "",
          align: "right",
          cell: {
            content: (user: any) => `
            <a href="/admin/users/edit?id=${user.id}" 
              class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 size-8 border border-input bg-background hover:bg-accent hover:text-accent-foreground" 
              aria-label="Edit" 
              data-astro-prefetch>
              <span class="icon-[tabler--pencil] size-4"></span>
            </a>
            `,
          },
        },
      ]}
      title="All Users"
      buttonLinks={[
        {
          href: "/admin/users/new",
          text: "New User",
        },
      ]}
    />
  </div>
</AdminLayout>
