---
import AdminLayout from "@/layouts/AdminLayout.astro";
import TableDatalist from "@/components/admin/TableDatalist.astro";
import { formatDate } from "@/lib/dw/helpers";
import { db } from "@/lib/db";

let users;

try {
  users = await db
    .selectFrom("user")
    .selectAll()
    .orderBy("createdAt")
    .execute();
} catch (error) {
  console.error("Error fetching users:", error);
}

// DW
const can_edit = Astro.locals.authRoles?.includes("admin");
if (!can_edit) {
  return Astro.redirect(`/admin/users/`);
}
---

<AdminLayout title="All Users">
  <div class="w-full">
    <TableDatalist
      data={users ?? []}
      columns={[
        {
          header: "Email",
          cell: {
            content: (user: any) =>
              `<a href="/admin/users/edit?id=${user.id}">${user.email}</a>`,
          },
        },
        {
          header: "Name",
          cell: {
            content: (user: any) => user.name,
          },
        },
        {
          header: "Created At",
          cell: {
            content: (user: any) => formatDate(user.createdAt),
          },
        },
        {
          header: "Updated At",
          cell: {
            content: (user: any) =>
              user.updatedAt ? formatDate(user.updatedAt) : "",
          },
        },
        {
          header: "",
          align: "right",
          cell: {
            content: (user: any) => `
            <a href="/admin/users/edit?id=${user.id}" 
              class="btn btn-sm border-0 bg-primary text-neutral-100" 
              aria-label="Edit" 
              data-astro-prefetch>
              <span class="icon-[tabler--pencil] size-5"></span>
            </a>
            `,
          },
        },
      ]}
      title="All Users"
      buttonLinks={[
        {
          href: "/admin/users/new",
          text: "New User",
        },
      ]}
    />
  </div>
</AdminLayout>
