---
import AdminLayout from "@/layouts/AdminLayout.astro";
import UserForm from "@/components/forms/UserForm.astro";
---

<AdminLayout title="New User">
  <div class="w-full">
    <h2 class="text-xl font-semibold mb-4">New User</h2>
    <UserForm redirect="/admin/users" />
  </div>
</AdminLayout>
