---
import AdminLayout from "@/layouts/AdminLayout.astro";
import UserForm from "@/components/UserForm.astro";
const can_edit = Astro.locals.authRoles?.includes("admin");
if (!can_edit) {
  return Astro.redirect(`/admin/users/`);
}
---

<AdminLayout title="New User">
  <div class="w-full">
    <h2 class="text-xl font-semibold mb-4">New User</h2>
    <UserForm redirect="/admin/users" />
  </div>
</AdminLayout>
