
<div class="dt h-100 w-100 w-60-m w-50-l center pv5 ph4">
  <div class="dtc v-mid f4 lh-copy">
	
	  <form method="post" action="/forgot/process">
	
			<div class="mb4">Tell us your email address and we'll send you instructions to reset your password.</div>
	
	    <div class="mb4 pb2">
	      <label class="db mb2 roboto ttu b f6">Email Address</label>
	      <input class="db w-100 pa2 f5 br1" type="text" name="email" />
	    </div>
		
	    <div class="dn">
	      <input type="text" name="website" />
	    </div>
	    
			<button class="roboto ttu f5 br2 db pv3 w-100 bg-near-black hover-bg-black-80 white bn b mb4 pointer">Reset Password</button>	

	  </form>


	</div>
</div>