

<div class="dt h-100 w-100 w-60-m w-50-l center pv5 ph4">
  <div class="dtc v-mid f4 lh-copy">
	
    {{#if register_process}}

    <div class="f3 fw7 mb2">Your registration is almost complete.</div>
    <div>Check the email for the address you just registered and click the activation link we sent you.</div>

    {{/if}}


    {{#if forgot_process}}

    <div class="f3 fw7 mb2">Check your email.</div>
    <div>We just sent you a link to reset your password.</div>

    {{/if}}




    {{#if forgot_reset}}


		  <form method="post" action="/forgot/reset/process">
		
	      <div class="mb4">What would you like your new password to be?</div>
		
		    <div class="mb4 pb2">
		      <label class="db mb2 roboto ttu b f6">New Password</label>
		      <input class="db w-100 pa2 f5 br1" type="password" name="password" />
		    </div>
		
		    <div class="dn">
		      <input type="text" name="website" />
		    </div>

        <input type="hidden" name="hash" value="{{hash}}" />

		    <button class="roboto ttu f5 br2 db pv3 w-100 bg-near-black hover-bg-black-80 white bn b mb4 pointer">Reset Password</button>   

		  </form>


    {{/if}}



    {{#if forgot_reset_process}}

    <div class="f3 fw7 mb2">Your password has been reset.</div>
    <div>You should be able to <a href="/login/?redirect=home">log in</a> to your account now.</div>
    <div>Please let us know if you run into any problems.</div>

    {{/if}}



    {{#if registration_complete}}

    <div class="f3 fw7 mb2">Your account has been activated.</div>
    <div><a href="/login/?redirect=home">Log in to your account here</a> and please let us know if you run into any problems.</div>

    {{/if}}





	</div>
</div>


