
<!-- do this for vertical center instead -->
<!-- 
<style>
body {
  display: grid;
  place-items: center;
}
</style>
 -->


<div class="dt h-100 w-100 w-60-m w-50-l center pv5-ns pv4 ph4">
	<div class="dtc v-mid f4 lh-copy">
		<img src="/images/lib/placeholder.png" class="db center mb5 w-70" />

		<div class="login" x-data="login_form()">

			<div class="mb4 validate-email login-field">
				<label class="db mb2 roboto ttu b f6">Email Address / Screen Name</label>
				<input class="db w-100 pa2 f5 br1" type="text" name="email" x-on:keydown.enter="login()"
					x-on:blur="clear_error('validate-email')" />
				<span class="db f6 pt2"></span>
			</div>

			<div class="mb4 pb2 validate-password login-field">
				<label class="db mb2 roboto ttu b f6">Password</label>
				<input class="db w-100 pa2 f5 br1" type="password" name="password" x-on:keydown.enter="login()"
					x-on:blur="clear_error('validate-password')" />
				<span class="db f6 pt2"></span>
			</div>

			<div class="dn">
				<input type="text" name="website" />
			</div>

			<input type="hidden" name="ip" value="{{ip}}" />
			<input type="hidden" name="redirect" value="/" />

			<button class="roboto ttu f5 br2 db pv3 w-100 bg-near-black hover-bg-black-80 white bn b mb4 pointer" @click="login()">Login</button>

			<div class="tc">
				<a class="black-50 hover-black-70 f6 u" href="/forgot">Forgot password?</a>
			</div>
		</div>

	</div>
</div>

<script>
	function login_form() {
		return {
			clear_error: function (class_name) {
				document.querySelector('.' + class_name).classList.remove('error');
				document.querySelector('.' + class_name + ' span').innerHTML = '';
			},
			login: function () {
				document.body.classList.add('working');
				dw.api_request({
					url: '/auth/login/process',
					data: {
						email: document.querySelector('[name="email"]').value,
						password: document.querySelector('[name="password"]').value,
						redirect: document.querySelector('[name="redirect"]').value,
						website: document.querySelector('[name="website"]').value,
						ua: navigator.userAgent,
						ip: document.querySelector('[name="ip"]').value
					},
					callback: function (r) {
						document.body.classList.remove('working');
						if (r.success) {
							if (r.redirect) {
								window.location.href = r.redirect;
							} else {
								window.location.href = '/';
							}
						} else {
							if (r.error) {
								if (r.error.email) {
									document.body.classList.remove('working');
									document.querySelector('.validate-email').classList.add('error');
									document.querySelector('.validate-email span').innerHTML = r.error.message;
								}
								if (r.error.password) {
									document.body.classList.remove('working');
									document.querySelector('.validate-password').classList.add('error');
									document.querySelector('.validate-password span').innerHTML = r.error.message;
								}
							}
						}
					}
				});
			}
		}
	}
</script>