html, body{
	height: 100%;
}

body{
	background-color: rgb(240, 244, 241);
	color: rgba(33, 33, 33, 1);
}

body, body * {
	font-family: Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
	webkit-font-smoothing:antialiased;
}

input, textarea, .textarea, select.multi-select{
	background: rgb(227, 234, 229);
	border: 1px solid rgb(227, 234, 229);
}

textarea, .textarea{
	resize: none;
	padding: 0.4rem 0.6rem !important;
}

input:focus, textarea:focus, .textarea:focus{
	color:  rgba(29, 29, 27, 1);
	background: rgba(255,255,255,1);
}

button:focus{
	background-color: rgba(0,0,0,0.5);
	color: #fff;
}

button[rel~="save"], a[rel~="delete"]{
	cursor: pointer;
}

.roboto{
	font-family: 'Roboto', sans-serif;
}

::selection {
	background: rgba(0,0,0,0.2);
}
::-moz-selection {
	background: rgba(0,0,0,0.2);
}

.dwa-red{
	color: #e94e13;
}

label small{
	font-size: 75%;
}




/*
.button-submit{
	background-color: rgba(19, 19, 17, 1);
	padding: 1.1rem 1.3rem;
	color: rgba(255,255,255,0.9);
	font-family:'Roboto Mono';
}
*/

.stripe-dark:nth-child(odd), .bg-alt{
	background-color: rgb(227, 234, 229);
}

.bg-default{
	background-color: rgb(240, 244, 241);
}

.green{
	color: rgb(52, 131, 98);
}

::-webkit-scrollbar {
	background: transparent;
	overflow: visible;
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-thumb:horizontal {
	min-width: 40px;
}

::-webkit-scrollbar-thumb:vertical {
	min-height: 40px;
}

::-webkit-scrollbar-track-piece {
	background: transparent;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

select.multi-select option:checked{
	background-color: #000;
	color: white;	
}

select.multi-select:focus{
	background: white;
	outline: none;
}

.upload-container{
	background-color: white;
	box-shadow: 2px 2px 8px 0px rgba( 0, 0, 0, 0.15 );
	border: 0.3rem solid #fff;
}

.preview-image > img{
	display: block;
}

.fs80{
	font-size: 80%;
}

.f7{
  font-size: .675rem;
}