
<div class="page page-center align-items-center">
  <div class="container container-tight py-4">
    <div class="text-center mb-4">
      <a href="/" class=""><img src="/images/logo-default.png" class="w-25" alt=""></a>
    </div>
    <div class="card p-3 shadow rounded-3">
      <div class="card-body py-3">
      {{#if invalid_hash}}
        <h2 class="h2 text-center mb-3 text-danger">Registration Error</h2>
        <div class="mb-2 text-center text-danger">Invalid activation code</div>
      {{else}}
        <h2 class="h2 text-center mb-3">Registration complete</h2>
        <div class="mb-2 text-center">Your account has been activated.<br /><a href="/login">Log in</a> to get started.</div>
      {{/if}}
      </div>
    </div>
  </div>
</div>

