



<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title">
          Account Settings
        </h2>
      </div>
      <div class="col-auto ms-auto d-print-none">

      </div>
    </div>
  </div>
</div>
















<div class="page-body" x-data="dw.edit_form()" @keyup.ctrl.enter.window="document.querySelector('[data-container=save] button').click()">
  <div class="container-xl">
    <div class="row row-cards">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <form class="edit-form" action="javascript:void(0);">
            <div class="row">
              <div class="col-6">

                <div class="mb-3 form-group required" data-validate="email">
                  <label class="form-label">Email</label>
                  <input type="email" class="form-control" name="email" value="{{data.email}}" autocomplete="off" x-on:blur="dw.validate_input({
                    input: 'email',
                    element: $event.target,
                    required: true,
                    unique: {
                      collection: 'users',
                      field: 'email',
                      error_message: 'This email is already registered',
                      exempt_id: '{{locals.user_id}}'
                    }
                  })" />
                  <div class="invalid-feedback"></div>
                </div>

                <div class="mb-3 form-group">
                  <label class="form-label">New Password</label>
                  <input type="password" class="form-control" name="password" placeholder="*********" autocomplete="off" />
                </div>

                <div class="mb-3 form-group" data-validate="screenname">
                  <label class="form-label">Screen name</label>
                  <input type="text" class="form-control" name="screenname" value="{{data.screenname}}" autocomplete="off" x-on:blur="dw.validate_input({
                    input: 'screenname',
                    element: $event.target,
                    required: true,
                    unique: {
                      collection: 'users',
                      field: 'screenname',
                      error_message: 'This screen name is already in use',
                      exempt_id: '{{locals.user_id}}'
                    }
                  })" />
                  <div class="invalid-feedback"></div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <div class="mb-3 form-group">
                      <label class="form-label">First name</label>
                      <input type="text" class="form-control" name="first_name" value="{{data.first_name}}" autocomplete="off" />
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="mb-3 form-group">
                      <label class="form-label">Last name</label>
                      <input type="text" class="form-control" name="last_name" value="{{data.last_name}}" autocomplete="off" />
                    </div>                      
                  </div>
                </div>

              </div>
              <div class="col-6">
                <!-- fixit -->
                [dropzone upload]
              </div>

            </div>
            </form>
          </div>
          <div class="card-footer text-end">
            <div class="d-flex">
              <span data-container="save">

                <button class="btn btn-primary" @click="save({
                  'url': '/account/save/',
                  'data': {
                    'form': dw.serialize(document.querySelector('.edit-form'))
                  },
                  'callback': function(r){
                    if (r.token) {
                      dw.cookie_set('token', r.token);
                    }
                    window.location.href = '/';
                  }
                })">Save</button>

              </span>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>










