



<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title">
          Account Settings
        </h2>
      </div>
      <div class="col-auto ms-auto d-print-none">

      </div>
    </div>
  </div>
</div>
















<div class="page-body" x-data="dw.edit_form()" @keyup.ctrl.enter.window="document.querySelector('[data-container=save] button').click()">
  <div class="container-xl">
    <div class="row row-cards">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <form class="edit-form" action="javascript:void(0);">
            <div class="row">
              <div class="col-6">

                <div class="mb-3 form-group required" data-validate="email">
                  <label class="form-label">Email</label>
                  <input type="email" class="form-control" name="email" value="{{data.email}}" autocomplete="off" x-on:blur="dw.validate_input({
                    input: 'email',
                    element: $event.target,
                    required: true,
                    unique: {
                      collection: 'users',
                      field: 'email',
                      error_message: 'This email is already registered',
                      exempt_id: '{{locals.user_id}}'
                    }
                  })" />
                  <div class="invalid-feedback"></div>
                </div>

                <div class="mb-3 form-group">
                  <label class="form-label">New Password</label>
                  <input type="password" class="form-control" name="password" placeholder="*********" autocomplete="off" />
                </div>

                <div class="mb-3 form-group" data-validate="screenname">
                  <label class="form-label">Screen name</label>
                  <input type="text" class="form-control" name="screenname" value="{{data.screenname}}" autocomplete="off" x-on:blur="dw.validate_input({
                    input: 'screenname',
                    element: $event.target,
                    required: true,
                    unique: {
                      collection: 'users',
                      field: 'screenname',
                      error_message: 'This screen name is already in use',
                      exempt_id: '{{locals.user_id}}'
                    }
                  })" />
                  <div class="invalid-feedback"></div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <div class="mb-3 form-group">
                      <label class="form-label">First name</label>
                      <input type="text" class="form-control" name="first_name" value="{{data.first_name}}" autocomplete="off" />
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="mb-3 form-group">
                      <label class="form-label">Last name</label>
                      <input type="text" class="form-control" name="last_name" value="{{data.last_name}}" autocomplete="off" />
                    </div>                      
                  </div>
                </div>

              </div>
              <div class="col-6">





<!-- v5 -->
<script src="/js/lib/dropzone.min.js"></script>

<!-- <script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script> -->
<!-- <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" /> -->

<link rel="stylesheet" href="/css/lib/dropzone.min.css" type="text/css" />
<link rel="stylesheet" href="/css/lib/tabler-vendors.min.css" type="text/css" />



<!-- JCDV -->


<div class="upload-container dz-1 mb4 shadow-4 bg-white pa1 w5" onclick="void(0)">

  <div class="preview-image">
    {{#if data.avatar_medium}}
    <img src="{{data.avatar_medium}}" />
    <div class="upload-delete">
      
      <span onclick="dw.upload_delete('1', false)" class="cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
        </svg>
      </span>

    </div>
    {{/if}}
  </div>

  <br /><br /><br />

  {{#unless data.avatar_medium}}
  <div class="dropzone" data-dz-upload="1"></div>
  {{/unless}}

</div>




<script>

    Dropzone.autoDiscover = false;

    dw.upload_initialize('1');

</script>







              </div>

            </div>
            </form>
          </div>
          <div class="card-footer text-end">
            <div class="d-flex">
              <span data-container="save">

                <button class="btn btn-primary" @click="save({
                  'url': '/account/save/',
                  'data': {
                    'form': dw.serialize(document.querySelector('.edit-form'))
                  },
                  'callback': function(r){
                    if (r.token) {
                      dw.cookie_set('token', r.token);
                    }
                    window.location.href = '/';
                  }
                })">Save</button>

              </span>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>










