
<div class="page page-center align-items-center" x-data="auth_form()">
  <div class="container container-tight py-4">
    <div class="text-center mb-4">
      <a href="/" class=""><img src="/images/logo-default.png" class="w-25" alt=""></a>
    </div>
    <div class="card p-3 shadow rounded-3">
      <div class="card-body py-3">
        <h2 class="h2 text-center mb-4">Register a new account</h2>
        <div class="mb-4 form-group required" data-validate="email">
          <label class="form-label">Email</label>
          <input name="email" type="email" class="form-control" placeholder="you@email.com" autocomplete="off" x-on:blur="dw.validate_input({
            input: 'email',
            element: $event.target,
            required: true,
            unique: {
              collection: 'users',
              field: 'email',
              error_message: 'This email is already registered',
            }
          })" />
          <div class="invalid-feedback"></div>
        </div>
        <div class="mb-4 form-group required" data-validate="password">
          <label class="form-label">Password</label>
          <input name="password" type="password" class="form-control" placeholder="*********" autocomplete="off" x-on:blur="dw.validate_input({
            input: 'password',
            element: $event.target,
            required: true,
          })" />
          <div class="invalid-feedback"></div>
        </div>
        <div class="mb-4 form-group required" data-validate="screenname">
          <label class="form-label">Screen Name</label>
          <input name="screenname" type="text" class="form-control" autocomplete="off" x-on:blur="dw.validate_input({
            input: 'screenname',
            element: $event.target,
            required: true,
            unique: {
              collection: 'users',
              field: 'screenname',
              error_message: 'This screen name is already in use',
            }
          })" />
          <div class="invalid-feedback"></div>
        </div>
        <div class="mb-4 form-group">
          <label class="form-label">First Name</label>
          <input name="first_name" type="text" class="form-control" autocomplete="off" />
        </div>
        <div class="mb-2 form-group">
          <label class="form-label">Last Name</label>
          <input name="last_name" type="text" class="form-control" autocomplete="off" x-on:keydown.enter="submit()" />
        </div>
        <div class="d-none">
          <label class="form-label">Website</label>
          <input type="text" name="website" />
        </div>
        <div class="form-footer">
          <button type="submit" class="btn btn-primary w-100" @click="submit()">Register</button>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  function auth_form() {
    return {
      submit: function () {
        document.body.classList.add('working');
        dw.form_validate(function () {
          dw.api_request({
            url: '/auth/register/process',
            data: {
              email: document.querySelector('[name="email"]').value,
              password: document.querySelector('[name="password"]').value,
              screenname: document.querySelector('[name="screenname"]').value,
              first_name: document.querySelector('[name="first_name"]').value,
              last_name: document.querySelector('[name="last_name"]').value,
              website: document.querySelector('[name="website"]').value,
              ua: navigator.userAgent,
            },
            callback: function (r) {
              document.body.classList.remove('working');
              if (r.success) {
                document.querySelector('.card-body').innerHTML = `
                  <h2 class="h2 text-center mb-3">Your registration is almost complete</h2>
                  <div class="mb-2 text-center">Check the email for the address you just registered and click the activation link we sent you.</div>
                `;
              } else {
                if (r.error) {
                  dw.display_error(r.error.type, r.error.message);
                }
              }
            }
          });
        });
      }
    }
  }
</script>




