
<div class="page-header d-print-none pt-5">
  <div class="container">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="h2 text-center mb-4"><a href="/" class=""><img src="/images/logo-default.png" style="height: 2rem;" class="d-inline-block align-middle" alt=""></a> <span class="align-middle">Darkwave 0.6.0</span></h2>
      </div>
    </div>
  </div>
</div>



<div class="page-body pb-5 px-5" x-data="configure_form()">
  <div class="container container-md">

    <form class="edit-form" action="javascript:void(0);">

      <div class="card mb-3">
        <div class="card-header">
          <h4 class="card-title">Site Information</h4>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-6">

              <div class="mb-3 form-group">
                <label class="form-label"> <span class="align-middle">Site Title</span>
                  <a href="#" class="d-inline-block align-middle ps-1" data-bs-toggle="tooltip" data-bs-title='Appended to all HTML <title> elements. Available as a global "site_title" variable.'>  
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-info-circle-fill mb-1" viewBox="0 0 16 16">
                      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </svg>
                  </a>
                </label>
                <input type="text" class="form-control" name="site_title" value="" autocomplete="off" />
              </div>

            </div>
            <div class="col-6">

              <div class="mb-3 form-group">
                <label class="form-label"><span class="align-middle">Site URL</span>
                  <a href="#" class="d-inline-block align-middle ps-1" data-bs-toggle="tooltip" data-bs-title='Domain where this site is deployed. Available as a global "site_url" variable.'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-info-circle-fill mb-1" viewBox="0 0 16 16">
                      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                    </svg>
                  </a></label>
                <input type="text" class="form-control" name="site_url" value="{{site_url_default}}" autocomplete="off" />
              </div>

            </div>
          </div>


          <div class="row">
            <div class="col-6">

              <div class="mb-3 form-group">
                <label class="form-label"><span class="align-middle">Site Code</span>
                  <a href="#" class="d-inline-block align-middle ps-1" data-bs-toggle="tooltip" data-bs-title='Available as a global "site_code" variable.'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-info-circle-fill mb-1" viewBox="0 0 16 16">
                      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                    </svg>
                  </a></label>
                <input type="text" class="form-control" name="site_code" value="DW" autocomplete="off" />
              </div>

            </div>
            <div class="col-6">

              <div class="mb-3 form-group">
                <label class="form-label"><span class="align-middle">JWT Secret Key</span>
                  <a href="#" class="d-inline-block align-middle ps-1" data-bs-toggle="tooltip" data-bs-title='Only change this if you need to match the key from an existing DW app.'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-info-circle-fill mb-1" viewBox="0 0 16 16">
                      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                    </svg>
                  </a></label>
                <input type="text" class="form-control" name="jwt_secret" value="{{jwt_secret}}" autocomplete="off" />
              </div>

            </div>
          </div>

          <label class="form-check mb-2">
            <input class="form-check-input" type="checkbox" name="delete_configure_files" checked="checked">
            <span class="form-check-label">Delete configuration process files after success</span>
          </label>

        </div>
      </div>



      <div class="card mb-3">
        <div class="card-header">
          <h4 class="card-title">Database Connection</h4>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-6">

              <div class="mb-3 form-group">
                <label class="form-label">Host</label>
                <input type="text" class="form-control" name="db_host" value="localhost" autocomplete="off" />
              </div>

            </div>
            <div class="col-6">

              <div class="mb-3 form-group">
                <label class="form-label">DB Name</label>
                <input type="text" class="form-control" name="db_name" value="" autocomplete="off" />
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-6">

              <div class="mb-3 form-group">
                <label class="form-label">DB User</label>
                <input type="text" class="form-control" name="db_user" value="" autocomplete="off" />
              </div>

            </div>
            <div class="col-6">

              <div class="mb-3 form-group">
                <label class="form-label">DB Password</label>
                <input type="password" class="form-control" name="db_password" value="" autocomplete="off" />
              </div>

            </div>
          </div>

          <label class="form-check mb-2">
            <input class="form-check-input" type="checkbox" name="create_default_users" checked="checked">
            <span class="form-check-label">Initialize database (create default "users" table)</span>
          </label>

        </div>
      </div>



      <div class="card mb-3">
        <div class="card-header">
          <h4 class="card-title">Admin User</h4>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-6">

              <div class="mb-3 form-group">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" name="user_email" value="" autocomplete="off" />
              </div>

            </div>
            <div class="col-6">

              <div class="mb-3 form-group">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" name="user_password" value="" autocomplete="off" />
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-6">

              <div class="mb-3 form-group">
                <label class="form-label">Screen Name</label>
                <input type="text" class="form-control" name="user_screenname" value="admin" autocomplete="off" />
              </div>

            </div>
            <div class="col-6">
              &nbsp;
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="mb-3 form-group">
                <label class="form-label">First name</label>
                <input type="text" class="form-control" name="user_first_name" autocomplete="off" />
              </div>
            </div>

            <div class="col-6">
              <div class="mb-3 form-group">
                <label class="form-label">Last name</label>
                <input type="text" class="form-control" name="user_last_name" autocomplete="off" />
              </div>
            </div>
          </div>

          <label class="form-check mb-2">
            <input class="form-check-input" type="checkbox" name="create_admin_user" checked="checked">
            <span class="form-check-label">Create admin user account</span>
          </label>

        </div>
      </div>

    </form>



    <div class="row g-2 align-items-center pt-1">
      <div class="col-auto ms-auto d-print-none">
        <button type="submit" class="btn btn-primary" @click="configure()">Save configuration</button>
      </div>

      <div class="col fs-6 text-end">
        * Saving configuration will create a new .env file.<br /> It's best not to commit this file to version control (remember to add it to your .gitignore)
      </div>

    </div>





</div>
</div>









  </div>
</div>




<script>

  function configure_form() {
    return {
      configure: function () {

        document.body.classList.add('working');
        dw.api_request({
          url: '/configure/execute',
          data: {
            form: dw.serialize(document.querySelector('.edit-form'))
          },
          callback: function (r) {
            document.body.classList.remove('working');
            if (r.success) {
              document.querySelector('body').innerHTML = `
                <div class="page page-center align-items-center" x-data="auth_form()">
                  <div class="container container-tight py-4">
                    <div class="card p-3 shadow rounded-3">
                      <div class="card-body py-3">
                        <h2 class="h2 text-center mb-3">Configuration complete</h2>
                        <div class="mb-2 text-center"><a href="/">Log in</a> to get started.</div>
                      </div>
                    </div>
                  </div>
                </div>
              `;
            } else {
              if (r.error) {

                dw.modal({
                  title: `
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 9v2m0 4v.01"></path><path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path></svg><br />
                  Configuration Error`,
                  content: `<span class="text-muted">${r.error_message}</span>`,
                  format: 'small',
                  theme: 'danger',
                  modal_title_extra: 'text-center w-100 pt-2 fs-2',
                  modal_body_extra: 'text-center',
                  buttons: [
                    {
                      label: 'OK',
                      color: 'danger',
                      class_extra: 'w-75 mx-auto mb-3',
                      close_modal: true,
                    },
                  ]
                });

              }else{

                dw.modal({
                  title: `
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 9v2m0 4v.01"></path><path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path></svg><br />
                  Configuration Error`,
                  content: `<span class="text-muted">An unknown error occurred during configuration. See console for details.</span>`,
                  format: 'small',
                  theme: 'danger',
                  modal_title_extra: 'text-center w-100 pt-2 fs-2',
                  modal_body_extra: 'text-center',
                  buttons: [
                    {
                      label: 'OK',
                      color: 'danger',
                      class_extra: 'w-75 mx-auto mb-3',
                      close_modal: true,
                    },
                  ]
                });

              }

            }
          }
        });

      }
    }
  }
</script>











