<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <h2 class="page-title">
          Edit user
        </h2>
      </div>
    </div>
  </div>
</div>
















<div class="page-body" x-data="dw.edit_form()" @keyup.ctrl.enter.window="document.querySelector('[data-container=save] button').click()">
  <div class="container-xl">
    <div class="row row-cards">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <form class="edit-form" action="javascript:void(0);">
            <div class="row">
              <div class="col-6">

                <div class="mb-3 form-group required" data-validate="email">
                  <label class="form-label">Email</label>
                  <input type="email" class="form-control" name="email" value="{{data.email}}" autocomplete="off" x-on:blur="dw.validate_input({
                    input: 'email',
                    element: $event.target,
                    required: true,
                    unique: {
                      collection: 'users',
                      field: 'email',
                      error_message: 'This email is already registered',
                      exempt_id: '{{data._id}}'
                    }
                  })" />
                  <div class="invalid-feedback"></div>
                </div>

                <div class="mb-3 form-group {{#is _id "==" "new"}}required{{/is}}" data-validate="password">
                  <label class="form-label">New Password</label>
                  <input type="password" class="form-control" name="password" placeholder="*********" autocomplete="off" />
                  <div class="invalid-feedback"></div>
                </div>

                <div class="mb-3 form-group required" data-validate="screenname">
                  <label class="form-label">Screen name</label>
                  <input type="text" class="form-control" name="screenname" autocomplete="off" value="{{data.screenname}}" autocomplete="off" x-on:blur="dw.validate_input({
                    input: 'screenname',
                    element: $event.target,
                    required: true,
                    unique: {
                      collection: 'users',
                      field: 'screenname',
                      error_message: 'This screen name is already in use',
                      exempt_id: '{{data._id}}'
                    }
                  })" />
                  <div class="invalid-feedback"></div>
                </div>

                <div class="mb-3 form-group">
                  <div class="form-label">User Group</div>
                  <select class="form-select" name="group_id">
                    <option {{#is data.group_id "==" "3"}}selected="selected"{{/is}} {{#is data.group_id "==" ""}}selected="selected"{{/is}} value="3">General User</option>
                    <option {{#is data.group_id "==" "2"}}selected="selected"{{/is}} value="2">Moderator</option>
                    <option {{#is data.group_id "==" "1"}}selected="selected"{{/is}} value="1">Admin</option>
                    <option {{#is data.group_id "==" "4"}}selected="selected"{{/is}} value="4">Blocked</option>
                  </select>
                </div>

                <div class="row">
                  <div class="col-6">
                    <div class="mb-3 form-group">
                      <label class="form-label">First name</label>
                      <input type="text" class="form-control" name="first_name" value="{{data.first_name}}" autocomplete="off" />
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="mb-3 form-group">
                      <label class="form-label">Last name</label>
                      <input @keyup.cmd.enter="alert('meta enter')" type="text" class="form-control" name="last_name" value="{{data.last_name}}" autocomplete="off" />
                    </div>                      
                  </div>
                </div>

              </div>
              <div class="col-6">
                <!-- fixit -->
                [dropzone upload]
              </div>

            </div>
            </form>
          </div>
          <div class="card-footer text-end">
            <div class="d-flex">
              <span data-container="save">

                <button class="btn btn-primary" @click="save({
                  'url': '/users/save/',
                  'data': {
                    '_id': '{{_id}}',
                    'form': dw.serialize(document.querySelector('.edit-form'))
                  },
                  'redirect': '/users/'
                })">Save</button>

              </span>
              {{#is _id "!=" "new"}}
              <span data-container="delete" class="ms-auto">
                <button class="btn btn-outline-danger" @click="delete_confirm({
                  'url': '/users/delete/',
                  'data': {
                    '_id': '{{_id}}',
                  },
                  'redirect': '/users/',
                  'message': 'Are you sure you want to delete this user?'
                })">Delete</button>
              </span>
              {{/is}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








