---
// DW - Button link component

interface Props {
  text: string;
  href: string;
  class?: string;
  [key: string]: any;
}

const { text, href, class: userClass = "", ...rest } = Astro.props;
const classes = ["btn btn-primary", userClass].filter(Boolean).join(" ");
---

<!-- rounded-md bg-stone-200 text-stone-600 p-3 text-sm font-semibold hover:bg-stone-300 hover:text-stone-700 cursor-pointer -->
<a href={href} class={classes} {...rest}>
  {text}
</a>
