---
// Fullscreen spinner component for loading states

interface Props {
  id?: string;
  class?: string;
}

const { id = "fullscreen-spinner", class: className = "" } = Astro.props;
---

<div
  id={id}
  data-fullscreen-spinner
  class={`hidden ${className}`}
>
  <div class="fixed inset-0 bg-black/20 backdrop-blur-xs z-50 flex items-center justify-center">
    <div class="flex flex-col items-center">
      <svg
        class="w-36 h-36 text-primary"
        viewBox="0 0 38 38"
        xmlns="http://www.w3.org/2000/svg"
        stroke="currentColor"
      >
        <g fill="none" fill-rule="evenodd">
          <g transform="translate(1 1)" stroke-width="2">
            <circle stroke-opacity=".5" cx="18" cy="18" r="18"></circle>
            <path d="M36 18c0-9.94-8.06-18-18-18">
              <animateTransform
                attributeName="transform"
                type="rotate"
                from="0 18 18"
                to="360 18 18"
                dur="1s"
                repeatCount="indefinite"
              ></animateTransform>
            </path>
          </g>
        </g>
      </svg>
    </div>
  </div>
</div>
